{
  "printWidth": 120,
  "trailingComma": "none",
  "plugins": ["prettier-plugin-apex", "@prettier/plugin-xml"],
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": { "parser": "lwc", "tabWidth": 4 }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html", "tabWidth": 4 }
    },
    {
      "files": "*.{cls,trigger}",
      "options": { "tabWidth": 4 }
    },
    {
      "files": "**/{aura,lwc}/**/*.js",
      "options": { "singleQuote": true }
    }
  ]
}
